body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.navbar {
  
    background-image: linear-gradient(to right, #3a547c, #6a6649);

  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}
.links {
    font-size: larger;
  color: rgb(100, 87, 87);
  transition: color 0.2s ease-in-out;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.navbar h1 {
  border: 2px solid white;
  margin: 0;
  padding: 5px 15px;
  border-radius: 10px;
  font-family:'Times New Roman', Times, serif ;
}

.navbar a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
  font-weight: bold;
}
.links {
  color: rgb(100, 87, 87);
  transition: color 0.2s ease-in-out;
}
.links:hover {
  color: #000000;
}
.hero {
  position: relative;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: url("Photos/pexels-photo-256541.jpeg") center/cover no-repeat;
  filter: blur(8px);
  transform: scale(1.1);
}

.hero h3 {
  position: relative;
  font-size: 50px;
  color: white;
  font-weight: bold;
  text-shadow: 0 0 10px black;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.section-title {
  text-align: center;
  margin-top: 40px;
  font-size: 35px;
  font-weight: bold;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.books {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 40px;
}

.book-card {
  background: rgb(255, 255, 255);
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.book-card img {
  width: 100%;
  height: 200px;
  border-radius: 6px;
  object-fit: cover;
}
.book-card:hover {
  transform: scale(1.05);
  transition: 0.4s;
   box-shadow: 0 4px 16px rgba(0, 0, 0, 0.3);
}

.footer {
  background-color: #2c3e50;
  color: white;
  padding: 15px;
  text-align: center;
  margin-top: 40px;
}
